
/* Footer */
/* Social button style */
.cc-facebook:hover i {
  color: #3b5998;
}

.cc-twitter:hover i {
  color: #1da1f2;
}

.cc-google-plus:hover i {
  color: #dd4b39;
}

.cc-instagram:hover i {
  color: #405de6;
}

.footer {
  padding: 24px 0;
}

.footer.footer-default {
  background-color: #f2f2f2;
}

.footer nav {
  display: inline-block;
}

.footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.footer ul li {
  display: inline-block;
}

.footer ul li a {
  color: inherit;
  padding: 0.5rem;
  font-size: 0.8571em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: none;
}

.footer .copyright {
  font-size: 0.8571em;
}

.footer:after {
  display: table;
  clear: both;
  content: " ";
}
